body {
	font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: 15px;
	padding: 5% 10%;
	line-height: 1.7;
	color: #424242;
	background: #FCFCFC;
}
a:link,a:visited {
	color:#477daf;
	font-weight:500;
	text-decoration:none
}
h2 {
	font-size: 1.5em;
	margin: 20px 0 10px;
	border-radius: 4px;
	border-bottom: 1px solid #EEE;
	color: #333;
}
@font-face {
	font-family:icons;
	src:url(fonts/icons.eot);
	src:url(fonts/icons.eot?#iefix) format("embedded-opentype"),url(fonts/icons.woff) format("woff"),url(fonts/icons.ttf) format("truetype"),url(fonts/icons.svg) format("svg");
	font-weight:normal;
	font-style:normal
}
#wrapper {
	position:relative
}
#logo {
	display: none;
	text-align:center;
	font-size:35pt;
	color:rgba(99,108,117,0.85);
	text-shadow:0 1px 3px #E2E3E4,0 0 0 black;
	position:absolute;
	left:50%;
	margin-left:-48px;
	top:-3px;
	margin-top:-66px;
	background:white;
	padding:15px;
	width:55px;
	height:55px;
	border-radius:250px;
	border:4px solid white;
	box-shadow:0 1px 1px rgba(0,0,0,0.35),inset 0 1px 1px rgba(0,0,0,0.35),inset 0 0 1px rgba(0,0,0,0.45);
	background:#F1F2F3;
	background:-moz-linear-gradient(top,#F1F2F3 0%,#EFEFEF 100%);
	background:-webkit-linear-gradient(top,#F1F2F3 0%,#EFEFEF 100%);
	background:-o-linear-gradient(top,#F1F2F3 0%,#EFEFEF 100%);
	background:linear-gradient(to bottom,#F1F2F3 0%,#EFEFEF 100%)
}
#logo:before {
	font-family:Icons;
	content:"";
	position:absolute;
	background:-webkit-linear-gradient(rgba(255,255,255,.3),transparent);
	background:-moz-linear-gradient(rgba(255,255,255,.3),transparent);
	background:-o-linear-gradient(rgba(255,255,255,.3),transparent);
	background:linear-gradient(rgba(255,255,255,.3),transparent);
	border-radius:250px;
	box-shadow:inset 0 0 1px 1px rgba(255,255,255,.3);
	top:1px;
	left:1px;
	bottom:1px;
	right:1px;
	line-height:84px
}
#logo.index:before {
	content:"\f121";
}
#logo.settings:before {
	content:"\f013";
}
#logo.step2:before {
	content:"\c006";
	line-height:86px
}
#logo.restore:before {
	content:"\c044"
}
#logo.restored:before,#logo.completed:before {
	content:"\f00c";
	line-height:91px
}
#logo.becreative:before {
	content:"\d008"
}
#container {
	padding:0
}
.head {
	padding:0;
	font-size: 2.5em;
	font-weight: 700;
	color: #333;
	border-bottom: 1px solid #DDD;
}
.box {
	padding:10px 0 0
}
.foot {
	padding:10px 0 0;
	text-align:center
}
.button {
	position: relative;
	font-family: Helvetica Neue;
display: inline-block;
padding: 7px 12px;
font-size: 13px;

	font-weight: bold!important;
color: #333!important;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
white-space: nowrap;
background-color: #EEE;
background-image: -moz-linear-gradient(#fcfcfc, #eee);
background-image: -webkit-linear-gradient(#FCFCFC, #EEE);
background-image: linear-gradient(#FCFCFC, #EEE);
background-repeat: repeat-x;
border-radius: 3px;
border: 1px solid #D5D5D5;
vertical-align: middle;
cursor: pointer;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-appearance: none;
	line-height: 1;
}
.button:hover {
}
.button:active {
}
.footer {
	padding:10px 0;
	color:#636C75;
	text-shadow:0 1px 1px rgba(255,255,255,.5)
}
.footer p:first-child {
	font-weight:700;
	float:left;
	display:inline-block;
	margin:0
}
.footer p:last-child {
	float:right;
	display:inline-block;
	margin:0
}
span.outline {
	display: inline-block;
padding: 3px 4px;
font-size: 11px;
font-weight: bold;
line-height: 1;
color: #FFF;
border-radius: 2px;
box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.12);
background: #CC317C;
margin: 0 0 0 10px;
position: relative;
top: -2px;
}
input.textbox {
	border:1px solid #CCC;
	border-radius:3px;
	box-shadow:0 1px 2px rgba(0,0,0,.15) inset;
	color:#424242;
	font-family:Verdana,Helvetica Neue,Helvetica,Arial,Geneva,sans-serif;
	font-size:13px;
	outline:none;
	padding:6px;
	-moz-transition:border .2s linear,box-shadow .2s linear;
	-webkit-transition:border .2s linear,box-shadow .2s linear;
	width:100%;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	margin:5px 0 12px 0
}
input.textbox:focus {
	border:1px solid #80bfff;
	box-shadow:0 0 3px #80bfff,0 1px 2px rgba(0,0,0,.15) inset
}
label {
	font-size:15px;
	margin: 10px 20px;
	display: inline-block;
	color: #818181;
}
input[type="text"], textarea {
	min-height: 30px;
	padding:7px 8px;
	outline:none;
	color:#333;
	background-color:#FFF;
	background-repeat:no-repeat;
	background-position:right center;
	border:1px solid #CCC;
	border-radius:3px;
	box-shadow:inset 0 1px 2px rgba(0,0,0,0.075);
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	transition:all 0.15s ease-in;
	-webkit-transition:all 0.15s ease-in 0;
	vertical-align:middle;
	display:block;
	margin: 10px 0 0;
	min-width: 300px;
}
input[type="text"]:focus, textarea:focus {
	border-color:#51a7e8;
	box-shadow:inset 0 1px 2px rgba(0,0,0,0.075),0 0 5px rgba(81,167,232,0.5)
}
textarea {
	min-height: 150px;
	max-width: 100%;
	width: 100%!important;
}
.message {
    padding:8px 12px;
    color: #8A8A8A;
    margin: 10px 0 0;
    border: 1px solid #F1F1F1;
    border-radius: 3px;
    background: #fff;
}
.message.success {
    border-left: 3px solid #88C42E;
}
.message.error {
    border-left: 3px solid #DD7F73;
}